@import "common/global.css";
@import "common/form.css";
@import "common/page.css";

@import "windows/abstract-window.css";

@import "windows/special/color-palette-window.css";
@import "windows/special/objects-recognition-window.css";
@import "windows/special/stop-motion-sequence-window.css";

@import "windows/static/look-up-table-window.css";
@import "windows/static/multiple-pictures-window.css";
@import "windows/static/picture-window.css";
@import "windows/static/uop-window.css";

@import "windows/tools/arithmetical-logical-tool.css";
@import "windows/tools/brightness-regulation-tool.css";
@import "windows/tools/choose-color-turtle-algorithm-tool.css";
@import "windows/tools/contrast-regulation-tool.css";
@import "windows/tools/gamma-regulation-tool.css";
@import "windows/tools/morphological-tool.css";
@import "windows/tools/posterize-tool.css";
@import "windows/tools/sharpen-tool.css";
@import "windows/tools/smoothing-tool.css";
@import "windows/tools/stretch-tool.css";
@import "windows/tools/threshold-tool.css";
