<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>APO</title>
    <link rel="stylesheet" href="styles/core/default.css"/>
</head>
<body>
    <div id="app"></div>

    <div class="sky-hide">

        <!-- windows/static -->

        <script type="text/html" id="template-lut-uop-static">
            <table class="lut-uop-static-content" cellpadding="0" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <% _.each(original, function (item, index) { %>
                            <% if (item !== undefined) { %>
                                <th style="background: rgb(<%= index %>, <%= index %>, <%= index %>);">
                                    <% var color = (index < 128) ? 255 : 0; %>
                                    <span style="color: rgb(<%= color %>, <%= color %>, <%= color %>);">#<%= index %></span>
                                </th>
                            <% } %>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white">
                        <% _.each(original, function (item) { %>
                            <% if (item !== undefined) { %>
                                <td><%= item %></td>
                            <% } %>
                        <% }); %>
                    </tr>
                    <tr>
                        <% _.each(current, function (item) { %>
                            <% if (item !== undefined) { %>
                                <td><%= item %></td>
                            <% } %>
                        <% }); %>
                    </tr>
                </tbody>
            </table>
        </script>

        <!-- windows/tools -->

        <script type="text/html" id="template-arithmetical-tool">
            <label>Wybierz operację:
                <select>
                    <option>--</option>
                    <option value="add">Dodawanie (ADD)</option>
                    <option value="sub">Odejmowanie (SUB)</option>
                    <option value="mul">Mnożenie (MUL)</option>
                </select>
            </label>
        </script>

        <script type="text/html" id="template-brightness-regulation-tool">
            <div class="brightness-regulation-tool-content">
                <span>Jasność:</span>
                <input class="brightness-regulation-tool-regulation-value" type="text" maxlength="4">
                <input class="brightness-regulation-tool-regulation-range" type="range" min="-100" max="200">
            </div>
        </script>

        <script type="text/html" id="template-contrast-regulation-tool">
            <div class="contrast-regulation-tool-content">
                <span>Kontrast:</span>
                <input class="contrast-regulation-tool-regulation-value" type="text" maxlength="3">
                <input class="contrast-regulation-tool-regulation-range" type="range" min="-50" max="100">
            </div>
        </script>

        <script type="text/html" id="template-edge-detection-tool">

        </script>

        <script type="text/html" id="template-gamma-regulation-tool">
            <div class="gamma-regulation-tool-content">
                <span>Korekcja Gamma:</span>
                <input class="gamma-regulation-tool-regulation-value" type="text" maxlength="2">
                <input class="gamma-regulation-tool-regulation-range" type="range" min="1" max="50">
            </div>
        </script>

        <script type="text/html" id="template-logical-tool">
            <label>Wybierz operację:
                <select>
                    <option>--</option>
                    <option value="or">OR</option>
                    <option value="and">AND</option>
                    <option value="xor">XOR</option>
                </select>
            </label>
        </script>

        <script type="text/html" id="template-posterize-tool">
            <div class="posterize-tool-content">
                <span>Poziomy:</span>
                <input class="posterize-tool-regulation-value" type="text" maxlength="3">
                <input class="posterize-tool-regulation-range" type="range" min="2" max="255">
            </div>
        </script>

        <script type="text/html" id="template-sharpen-tool">
            <div class="sharpen-tool-options">
                <label>Filtracja:</label>
                <select>
                    <option value="">--wybierz--</option>
                    <option value="med">Medianowa</option>
                    <option value="min">Minimalna</option>
                    <option value="max">Maksymalna</option>
                </select>
            </div>
        </script>

        <script type="text/html" id="template-smoothing-tool">
            <div class="smoothing-tool-options">
                <fieldset class="fd-masks">
                    <legend>Filtracja dolnoprzepustowa</legend>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fd-0">Maska 1/9</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fd-1">Maska 1/10</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fd-2">Maska 1/16</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fd-3">Maska 1/8</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fd">Maska własna</label>
                </fieldset>

                <fieldset class="fg-masks">
                    <legend>Filtracja górnoprzepustowa</legend>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fg-0">Maska 1</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fg-1">Maska 2 (Det. kraw.)</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fg-2">Maska 3 (Det. kraw.)</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fg-3">Maska 4 (Det. kraw.)</label>
                    <label><input name="smoothing-tool-filter-type" type="radio" value="fg">Maska własna</label>
                </fieldset>
            </div>
            <div class="smoothing-tool-preview">
                <fieldset>
                    <legend>Maska</legend>
                    <table>
                        <tr>
                            <td><input id="smoothing-tool-preview-1" type="text"></td>
                            <td><input id="smoothing-tool-preview-2" type="text"></td>
                            <td><input id="smoothing-tool-preview-3" type="text"></td>
                        </tr>
                        <tr>
                            <td><input id="smoothing-tool-preview-4" type="text"></td>
                            <td><input id="smoothing-tool-preview-5" type="text"></td>
                            <td><input id="smoothing-tool-preview-6" type="text"></td>
                        </tr>
                        <tr>
                            <td><input id="smoothing-tool-preview-7" type="text"></td>
                            <td><input id="smoothing-tool-preview-8" type="text"></td>
                            <td><input id="smoothing-tool-preview-9" type="text"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Zaktualizuj">
                </fieldset>
            </div>
        </script>

        <script type="text/html" id="template-stretch-tool">
            <div class="stretch-tool-content">
                <span>Początek:</span>
                <input class="stretch-tool-regulation-value-min" type="text" maxlength="3">
                <input class="stretch-tool-regulation-range-min" type="range" min="2" max="255">

                <hr />

                <span>Koniec:</span>
                <input class="stretch-tool-regulation-value-max" type="text" maxlength="3">
                <input class="stretch-tool-regulation-range-max" type="range" min="2" max="255">
            </div>
        </script>

        <script type="text/html" id="template-threshold-tool">
            <div class="threshold-tool-content">
                <span>Poziom progu:</span>
                <input class="threshold-tool-regulation-value" type="text" maxlength="3">
                <input class="threshold-tool-regulation-range" type="range" min="0" max="255">
            </div>
        </script>

    </div>

    <div id="scripts" class="hide">
        <!-- vendor //-->
        <script src="scripts/vendor/MoveMaster/MoveMaster.js"></script>
        <script src="scripts/vendor/underscore/underscore.js"></script>
        <script src="scripts/vendor/underscore/underscore.assert.js"></script>
        <script src="scripts/vendor/promise/promise.js"></script>

        <!-- core/common //-->
        <script src="scripts/core/common/AssetsLoader.js"></script>
        <script src="scripts/core/common/EventEmitter.js"></script>
        <script src="scripts/core/common/KeyboardShortcut.js"></script>
        <script src="scripts/core/common/Utilities.js"></script>

        <!-- core/file //-->
        <script src="scripts/core/file/AbstractFileHelper.js"></script>
        <script src="scripts/core/file/FileOpenHelper.js"></script>
        <script src="scripts/core/file/FileSaveHelper.js"></script>

        <!-- core/models //-->
        <script src="scripts/core/models/Canvas.js"></script>
        <script src="scripts/core/models/CanvasHelper.js"></script>
        <script src="scripts/core/models/Locale.js"></script>
        <script src="scripts/core/models/MenuBuilder.js"></script>

        <!-- core/operations //-->
        <script src="scripts/core/operations/OperationsFlatteningHistogram.js"></script>
        <script src="scripts/core/operations/OperationsNeighbourhood.js"></script>
        <script src="scripts/core/operations/OperationsOnePoint.js"></script>

        <!-- core/windows //-->
        <script src="scripts/core/windows/AbstractWindow.js"></script>
        <script src="scripts/core/windows/WindowManager.js"></script>

        <!-- core/windows/static //-->
        <script src="scripts/core/windows/static/LUTUOPWindow.js"></script>
        <script src="scripts/core/windows/static/MultiplePicturesWindow.js"></script>
        <script src="scripts/core/windows/static/PictureWindow.js"></script>

        <!-- core/windows/tools //-->
        <script src="scripts/core/windows/tools/ArithmeticalTool.js"></script>
        <script src="scripts/core/windows/tools/BrightnessRegulationTool.js"></script>
        <script src="scripts/core/windows/tools/ContrastRegulationTool.js"></script>
        <script src="scripts/core/windows/tools/EdgeDetectionTool.js"></script>
        <script src="scripts/core/windows/tools/GammaRegulationTool.js"></script>
        <script src="scripts/core/windows/tools/LogicalTool.js"></script>
        <script src="scripts/core/windows/tools/PosterizeTool.js"></script>
        <script src="scripts/core/windows/tools/SmoothingTool.js"></script>
        <script src="scripts/core/windows/tools/StretchTool.js"></script>
        <script src="scripts/core/windows/tools/ThresholdTool.js"></script>

        <!-- core //-->
        <script src="scripts/core/app.js"></script>
        <script src="scripts/core/bootstrap.js"></script>

        <!-- locale //-->
        <script src="scripts/locale/pl_PL.js"></script>
    </div>
</body>
</html>
