<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>APO</title>
    <link rel="stylesheet" href="styles/core/default.css"/>
</head>
<body>
    <div id="app"></div>

    <!-- windows/static -->

    <script type="text/html" id="template-lut-uop-static">
        <table class="lut-uop-static-content" cellpadding="0" cellspacing="0" border="1">
            <thead>
                <tr>
                    <% _.each(original, function (item, index) { %>
                        <% if (item !== undefined) { %>
                            <th style="background: rgb(<%= index %>, <%= index %>, <%= index %>);">
                                <% var color = (index < 128) ? 255 : 0; %>
                                <span style="color: rgb(<%= color %>, <%= color %>, <%= color %>);">#<%= index %></span>
                            </th>
                        <% } %>
                    <% }); %>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <% _.each(original, function (item) { %>
                        <% if (item !== undefined) { %>
                            <td><%= item %></td>
                        <% } %>
                    <% }); %>
                </tr>
                <tr>
                    <% _.each(current, function (item) { %>
                        <% if (item !== undefined) { %>
                            <td><%= item %></td>
                        <% } %>
                    <% }); %>
                </tr>
            </tbody>
        </table>
    </script>

    <!-- windows/tools -->

    <script type="text/html" id="template-brightness-regulation-tool">
        <div class="brightness-regulation-tool-content">
            <span>Jasność:</span>
            <input class="brightness-regulation-tool-regulation-value" type="text" maxlength="4">
            <input class="brightness-regulation-tool-regulation-range" type="range" min="-100" max="200">
        </div>
    </script>

    <script type="text/html" id="template-contrast-regulation-tool">
        <div class="contrast-regulation-tool-content">
            <span>Kontrast:</span>
            <input class="contrast-regulation-tool-regulation-value" type="text" maxlength="3">
            <input class="contrast-regulation-tool-regulation-range" type="range" min="-50" max="100">
        </div>
    </script>

    <script type="text/html" id="template-gamma-regulation-tool">
        <div class="gamma-regulation-tool-content">
            <span>Korekcja Gamma:</span>
            <input class="gamma-regulation-tool-regulation-value" type="text" maxlength="2">
            <input class="gamma-regulation-tool-regulation-range" type="range" min="1" max="50">
        </div>
    </script>

    <script type="text/html" id="template-posterize-tool">
        <div class="posterize-tool-content">
            <span>Poziomy:</span>
            <input class="posterize-tool-regulation-value" type="text" maxlength="3">
            <input class="posterize-tool-regulation-range" type="range" min="2" max="255">
        </div>
    </script>

    <script type="text/html" id="template-stretch-tool">
        <div class="stretch-tool-content">
            <span>Początek:</span>
            <input class="stretch-tool-regulation-value-min" type="text" maxlength="3">
            <input class="stretch-tool-regulation-range-min" type="range" min="2" max="255">

            <hr />

            <span>Koniec:</span>
            <input class="stretch-tool-regulation-value-max" type="text" maxlength="3">
            <input class="stretch-tool-regulation-range-max" type="range" min="2" max="255">
        </div>
    </script>

    <script type="text/html" id="template-threshold-tool">
        <div class="threshold-tool-content">
            <span>Poziom progu:</span>
            <input class="threshold-tool-regulation-value" type="text" maxlength="3">
            <input class="threshold-tool-regulation-range" type="range" min="0" max="255">
        </div>
    </script>

    <div id="scripts" class="hide">
        <!-- vendor //-->
        <script src="scripts/vendor/MoveMaster/MoveMaster.js"></script>
        <script src="scripts/vendor/underscore/underscore.js"></script>
        <script src="scripts/vendor/promise/promise.js"></script>

        <!-- locale //-->
        <script src="scripts/locale/locale.js"></script>
        <script src="scripts/locale/pl_PL.js"></script>

        <!-- core/common //-->
        <script src="scripts/core/common/AssetsLoader.js"></script>
        <script src="scripts/core/common/EventEmitter.js"></script>
        <script src="scripts/core/common/KeyboardShortcut.js"></script>
        <script src="scripts/core/common/Utilities.js"></script>

        <!-- core/models //-->
        <script src="scripts/core/models/Canvas.js"></script>
        <script src="scripts/core/models/CanvasHelper.js"></script>
        <script src="scripts/core/models/Menu.js"></script>
        <script src="scripts/core/models/MultipleFileChooser.js"></script>

        <!-- core/operations //-->
        <script src="scripts/core/operations/OperationFlatteningHistogram.js"></script>
        <script src="scripts/core/operations/OperationHelper.js"></script>
        <script src="scripts/core/operations/OperationOnePoint.js"></script>

        <!-- core/windows //-->
        <script src="scripts/core/windows/AbstractWindow.js"></script>
        <script src="scripts/core/windows/WindowManager.js"></script>

        <!-- core/windows/static //-->
        <script src="scripts/core/windows/static/HistogramWindow.js"></script>
        <script src="scripts/core/windows/static/LUTUOPWindow.js"></script>
        <script src="scripts/core/windows/static/MultiplePicturesWindow.js"></script>
        <script src="scripts/core/windows/static/PictureWindow.js"></script>

        <!-- core/windows/tools //-->
        <script src="scripts/core/windows/tools/BrightnessRegulationTool.js"></script>
        <script src="scripts/core/windows/tools/ContrastRegulationTool.js"></script>
        <script src="scripts/core/windows/tools/GammaRegulationTool.js"></script>
        <script src="scripts/core/windows/tools/PosterizeTool.js"></script>
        <script src="scripts/core/windows/tools/StretchTool.js"></script>
        <script src="scripts/core/windows/tools/ThresholdTool.js"></script>

        <!-- core //-->
        <script src="scripts/core/app.js"></script>
        <script src="scripts/core/bootstrap.js"></script>
    </div>
</body>
</html>
