button {
    outline: none;
}

button,
input[type="submit"] {
    border: 1px solid #969696;
    border-radius: 4px;
    background-color: #eee;
    outline: none;
    box-shadow: 0 0 3px #000;
}

button[disabled="disabled"],
input[type="submit"][disabled="disabled"] {
    background: #999;
    border: 1px solid #000;
    box-shadow: none;
}

button:active,
input[type="submit"]:active {
    box-shadow: inset 0 0 3px #000;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

input[type="text"] {
    outline: none;
}

input[type="text"][disabled="disabled"] {
    background: #999;
}

input[type="range"] {
    outline: none;
}

input[type="number"] {
    outline: none;
}

select {
    outline: none;
}
