.arithmetical-tool .abstract-window-content canvas {
    display: block;
    float: left;
}

.arithmetical-tool .abstract-window-content label {
    margin: 10px auto;
    display: block;
    width: 100%;
    text-align: center;
}
