.arithmetical-logical-tool .abstract-window-content dl {
    margin: 0;
}

.arithmetical-logical-tool .abstract-window-content dl dt {
    clear: both;
    float: left;
    text-align: left;
    width: 160px;
    margin: 0 0 5px 0;
}

.arithmetical-logical-tool .abstract-window-content dl dd {
    float: left;
    margin: 0 0 5px 0;
}

.arithmetical-logical-tool .abstract-window-content canvas {
    background: #fff;
    clear: both;
    display: block;
    margin: 0 auto;
}
