.choose-color-turtle-algorithm-tool-content {
    width: 250px;
    padding: 10px 0;
}

.choose-color-turtle-algorithm-tool-content label {
    display: inline-block;
}

.choose-color-turtle-algorithm-tool-content i {
    display: inline-block;
    width: 60px;
    height: 20px;
    margin: 0 20px 0 5px;
    border: 1px solid #dbdaee;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
}

.choose-color-turtle-algorithm-tool-content button {
    display: inline-block;
    cursor: pointer;
}
