.contrast-regulation-tool-content {
    width: 300px;
    height: 40px;
}

.contrast-regulation-tool-content span {
    display: inline-block;
    width: 60px;
}

.contrast-regulation-tool-content input[type="text"] {
    display: inline-block;
    width: 30px;
    margin: 0 5px;
    text-align: center;
}

.contrast-regulation-tool-content input[type="range"] {
    display: inline-block;
    width: 180px;
    margin: 4px 0 0 0;
}
