.logical-tool-content canvas {
    display: block;
    float: left;
}

.logical-tool-content select {
    outline: none;
}

.logical-tool-content label {
    margin: 10px auto;
    width: 170px;
    display: block;
}
