#threshold-tool-content {
    width: 300px;
    height: 40px;
}

#threshold-tool-content dt,
#threshold-tool-content dd {
    float: left;
    margin: 0;
}

#threshold-tool-content dt {
    width: 120px;
}

#threshold-tool-content input[type="range"] {
    margin: 4px 0 0 0;
    width: 180px;
}
