#threshold-tool-content {
    width: 320px;
    height: 40px;
}

#threshold-tool-content span {
    display: inline-block;
    width: 90px;
}

#threshold-tool-content input[type="text"] {
    display: inline-block;
    width: 20px;
    margin: 0 5px;
    outline: none;
}

#threshold-tool-content input[type="range"] {
    display: inline-block;
    width: 180px;
    margin: 4px 0 0 0;
    outline: none;
}
