.lut-window .abstract-window-content {
    max-width: 700px;
    overflow: auto;
}

.lut-window table.lut-static-content {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.lut-window table.lut-static-content thead {
    border-bottom: 1px solid #ba9d37;
}

.lut-window table.lut-static-content thead th,
.lut-window table.lut-static-content tbody td {
    overflow: hidden;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
