.lut-uop-window .abstract-window-content {
    max-width: 700px;
    overflow: auto;
}

.lut-uop-window table.lut-uop-static-content {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.lut-uop-window table.lut-uop-static-content thead {
    border-bottom: 3px solid;
}

.lut-uop-window table.lut-uop-static-content thead th,
.lut-uop-window table.lut-uop-static-content tbody td {
    overflow: hidden;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
