.multiple-pictures-window .abstract-window-content {
    max-height: 500px;
    overflow: auto;
    padding: 0;
}

body.windows .multiple-pictures-window .abstract-window-content {
    padding: 0 20px 0 0;
}

.multiple-pictures-window .abstract-window-content .strip-axis {
    padding: 5px;
    float: left;
}

.multiple-pictures-window .abstract-window-content .strip-axis canvas {
    clear: both;
    float: left;
    margin-bottom: 2px;
    border: 3px solid #e7e6e7;
}

.multiple-pictures-window .abstract-window-content .strip-axis canvas.active {
    border-color: #181818;
    box-shadow: 0 0 5px #181818;
    border-radius: 3px;
}
