.picture-window .abstract-window-content {
    min-height: 240px;
}

.picture-window .canvas-picture {
    float: left;
}

.picture-window .canvas-histogram {
    background: #ffffff;
    margin: 0 0 0 10px;
    float: left;
}

.picture-window .hist-info-palette {
    width: 256px;
    height: 20px;
    display: inline-block;
    background: url("../../../../images/palette.jpg") no-repeat 0 0;
    position: absolute;
    top: 180px;
}

.picture-window .hist-info-color {
    position: absolute;
    top: 210px;
}

.picture-window .hist-info-numbers {
    position: absolute;
    top: 230px;
}


.picture-window .hist-info-average {
    position: absolute;
    top: 250px;
}
